*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --color: #008bff;
}

.dark-theme {
  --color: #22d722;
}

body {
  height: 100vh;
  width: 100%;
  background: #0000004d;
}

.card {
  height: 90vh;
  padding: 20px;
  box-shadow: 4px -4px 8px 3px #0000004d;
  background: #ffffff21;
  margin: 16px;
  text-align: center;
  border-radius: 12px;
  max-width: 400px;
  position: relative;
  overflow: hidden;
}

.card-title {
  margin-bottom: 16px;
  color: white;
  font-weight: 700;
  background: #2927278f;
  padding: 8px;
  border-radius: 8px;
}

.card-avatar {
  width: 40%;
  max-width: 300px;
  border-radius: 50%;
  border: 6px solid var(--color);
}

.bg-febrybramantyo {
  background-color: #101010;
  background-image: url("./feb.jpg") !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.subtitle {
  font-size: 14px;
  font-weight: 500;
}

.text-blue {
  color: var(--color);
}

.d-flex {
  display: flex;
}

.content-center {
  justify-content: center;
}

.btn-action {
  display: flex;
  align-items: center;
  color: white;
  padding: 8px 10px;
  background: #2927278f;
  margin-bottom: 12px;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 10px;
  border: 1px solid var(--color);
}

.btn-action img {
  margin-right: 8px;
}

a {
  text-decoration: none !important;
}

.btn-action:hover {
  background: var(--color);
  border: 1px solid white;
  transform: scale(1.06);
}

.toogle {
  width: 30px;
  height: 30px;
  background-color: #323030;
  border-radius: 50%;
  z-index: 2;
  border: 2px solid var(--color);
  box-shadow: 1px 1px 4px 3px #bfb3b3de;
  cursor: pointer;
  position: absolute;
}

.bg-dark {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 1s ease-in;
  z-index: 1;
  transform: scale(0);
  border: 1px dashed var(--color);
}

.bg-dark.active {
  transition: 1s ease-in;
  transform: scale(60);
  background-color: #323030;
}

.toogle.dark {
  background-color: #323030;
}

.toogle.light {
  background-color: white;
}

.card-body {
  z-index: 3;
  position: relative;
  max-height: 90%;
  overflow-x: hidden;
  padding: 20px;
}

.wrapper-link {
  overflow-y: scroll;
  max-height: 40vh;
  margin: 20px 0;
  padding: 20px;
}

.scroll-info {
  position: absolute;
  bottom: 10px;
  color: white;
  left: calc(50% - 80px);
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 16px;
  border-radius: 16px;
  background: #2f2e2ed9;
  z-index: 5;
  cursor: pointer;
}

.scroll-text {
  margin-right: 8px;
}

.icon {
  max-width: 20px;
  margin-right: 10px;
}

.ads {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  height: 100%;
  visibility: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background: white;
}